.drop-title{
    color:#333;
    margin-bottom: 44px;
    display: inline-block;
}

a:hover{
    color:#0062FF
}

.ant-drawer-body{
    padding:24px 50px !important
}

.items{
    height: 40px;
    width: 120px;
}